<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
<%- include('partials/header') %>

<main>
    <h1 style="text-align: center">Số phiên bản: <%=data.length%></h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Version</th>
            <th scope="col">Author</th>
            <th scope="col">Commit</th>
            <th scope="col" style="text-align: center">Change Log</th>
            <th scope="col">Created At</th>
            <th scope="col" style="text-align: center">Published At</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < data.length; ++i) { %>
        <% let info = data[i]; %>
        <tr style="vertical-align: center">
            <td style="text-align: center"><%= info.number%></td>
            <td style="text-align: center"><a href="<%= info.htmlUrl%>"><%= info.name%></a></td>
            <td style="text-align: center">
                <img src="<%= info.author.avtUrl%>" alt="avatar" width="32px" height="32px">
                <br>
                <a href="<%= info.author.gitUrl%>"> <%= info.author.name%></a>
            </td>
            <td style="text-align: center">
                <a href="/commits_detail?tag_name=<%= info.tag_name%>&index=<%= i%>">
                    <%= info.totalCommits%>
                </a>
            </td>
            <td>
                <div
                        class="scroll"
                        style="max-width: 900px; min-width: 700px"
                        onclick="sendData('/show-changelog-commits', {index: <%= i%>})"
                >
                    <%-info.changeLog%>
                </div>
            </td>
            <td><%= info.createdAt%></td>
            <td><%= info.publishedAt%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</main>
<%- include('partials/footer') %>
</body>
<script src="js/send-data.js"></script>
</html>